/* SearchBar.css */

.search-container {
    align-items: center;
    margin: 0 auto;
  }
  
  .search-input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
  }
  
  .search-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color:tomato;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #b34e00;
  }
  .menu-list{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
  
  }

  .search-menu-list{
    display: block;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: auto;
  }

.menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}


@media (max-width:1050x) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}

